body {

	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	background-color: white;
/* #929d53;
/* #657600;
   #f7f9e8; */
    color: black;
    # border: 3px solid #2f004f; */
    /* padding: 10px; */
	margin: 10px;
    /* max-width: 600px; */
    position: absolute;
}

img {
	border: none;
}

h1 {    
    padding: 0px;
	margin: 0px;
    /* text-align: center; */
    font-size: 1.4em;
}

h2 {    
    /* text-align: center; */
    font-size: 1.2em;
}

a {
    text-decoration:none;
}

.textmain {
	max-width: 390px; 
}

#base { position: relative; 
    /*  z-index:-1; */ }

#mid { position: absolute;
	bottom:0px; /* position will be on bottom */  
	left:0px;  
	width:100%;
	/* z-index:0 */;
      }
#top { position: absolute;
	bottom:0px; /* position will be on bottom */  
	left:0px;  
	width:100%;
	/* z-index:1; */   
	opacity:0;
      }

#toptext { position: absolute;
	top:0px; /* position will be on bottom */  
	left:0px;  
      }

#current { font-size: 12px; }
