Options +ExecCGI -Indexes

<Files map>
  SetHandler cgi-script
</Files>

<Files info>
  SetHandler cgi-script
</Files>

<Files search>
  SetHandler cgi-script
</Files>

<Files mapO>
  SetHandler cgi-script
</Files>
