html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    /* border: 3px solid #2f004f; */
    padding: 5px;
    /* max-width: 600px; */
}

img {
	border: none;
}

h1 {    
    /* text-align: center; */
    font-size: 1.4em;
}

h2 {    
    /* text-align: center; */
    font-size: 1.2em;
}

a {
    text-decoration:none;
}

#base { position: relative; 
    /*  z-index:-1; */ }

#mid { position: absolute;
	bottom:0px; /* position will be on bottom */  
	left:0px;  
	width:100%;
	/* z-index:0 */;
      }
#top { position: absolute;
	bottom:0px; /* position will be on bottom */  
	left:0px;  
	width:100%;
	/* z-index:1; */   
	opacity:0;
      }


